.Main{
    display:flex;
    flex-direction:column;
    width: 100%;
}
.singleTodoContent{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}
.singleTodoContent h3{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}
.singleTodoContent p {
    margin-top: 0px;
    font-weight: 400;
    margin-left: 10px;

}
.link{
    margin-top: 0;
    border-radius: 5px;

}
.renderTodos{
    display:flex;
}
.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button button{
    border-right: none;
    cursor: pointer; 
    width: 70px;
}
.red{
    background-color: tomato;
}
.yellow{
    background-color: yellow;
    
}
.green{
    background-color: green;
}
.colorRed{
    color: red;
}
.colorYellow{
    color:yellow;
}